body{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    color: white;
    margin-bottom: 30px;
}
.color{
    margin-top: 40px;
   color: #11e091;
   font-family: 'Cabin Sketch', cursive;
}
button{

    background-color: white; color: black;
    width: 300px;
    border: 0px;
    padding: 0px;
    -webkit-background-clip: padding-box; 
  -moz-background-clip:    padding; 
  background-clip:         padding-box;

}
button:hover{
    background-color:#cadcf9 ;
}